.split {
    display: flex;
    height: calc(100vh - 50px);
}

.gutter {
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover {
    background-color: rgb(5, 5, 5);
}

@media screen and (max-width: 600px) {
    .gutter {
        height: 20px !important;
    }
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
